/* Styles/Accueil.css */

/* La classe BarreNavigation a été supprimée car elle n'est pas utilisée dans ce fichier CSS */

.container {
  display: flex;
  background-color: #cdeaf2;
  padding: 20px;
  margin: 1px auto 80px; /* Centrer le conteneur et ajuster la marge */
  max-width: 1200px; /* Limiter la largeur maximale du conteneur */
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.column:not(:last-child) {
  margin-right: 20px; /* Ajouter de l'espace entre les colonnes */
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #cdeaf2;
  padding: 10px;
}

.image {
  width: 100%;
  height: auto;
  cursor: pointer; /* Ajouter un curseur pointer pour indiquer que l'image est cliquable */
}

.text {
  text-align: center;
}

.lieux {
  font-size: 24px;
  font-weight: bold;
  margin-left: 130px; /* Ajuster la marge gauche pour déplacer "Les lieux" vers la droite */
  margin-bottom: 50px;
}

.Maps {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 1px auto 40px; /* Ajuster la marge sur les écrans plus petits */
    padding: 10px; /* Réduire l'espace intérieur du conteneur */
  }

  .column {
    margin-bottom: 20px; /* Ajouter de l'espace entre les colonnes sur les écrans plus petits */
  }

  .lieux {
    margin-left: 20px; /* Ajuster la marge sur les écrans plus petits */
  }
}
