/* Styles pour les écrans de taille moyenne (tablettes) */
@media only screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: column; /* Aligner les éléments en colonne sur les écrans de taille moyenne */
    background-color: #f5f5f5; /* Couleur de fond de la barre de navigation */
    padding: 10px 20px; /* Ajouter un espacement intérieur */
    width: 100%; /* Largeur de 100% */
  }

  .menu-icon {
    display: block; /* Afficher l'icône du menu sur les tablettes */
    order: 2; /* Placer le menu icon en dernier */
    margin-bottom: 10px; /* Ajouter une marge en bas pour séparer le menu icon */
  }

  .nav-links {
    display: none; /* Masquer les liens par défaut */
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    width: 100%; /* Largeur de 100% */
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
  }

  .nav-links.open {
    display: flex; /* Afficher les liens en mode flex lorsque le menu est ouvert */
  }

  .nav-links a {
    margin-top: 10px; /* Ajouter un espacement entre les liens */
    text-decoration: none; /* Supprimer le soulignement sous les liens */
  }

  .menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #403e49;
    margin: 6px 0;
    transition: 0.4s;
  }
}

/* Styles pour les écrans de grande taille (desktop) */
@media only screen and (min-width: 1025px) {
  .navbar {
    display: flex;
    justify-content: flex-start; /* Aligner le logo à gauche */
    align-items: center; /* Aligner les éléments au centre verticalement */
    background-color: #f5f5f5; /* Couleur de fond de la barre de navigation */
    padding: 10px 20px; /* Ajouter un espacement intérieur */
    width: 100%; /* Largeur de 100% */
  }

  .menu-icon {
    display: none; /* Masquer l'icône du menu sur les grands écrans */
  }

  .nav-links {
    display: flex; /* Afficher les liens en mode flex */
    gap: 20px; /* Ajoutez un espacement entre les liens */
    align-items: center; /* Aligner les éléments au centre verticalement */
  }

  .nav-links a {
    height: 24px; /* Utilisez la hauteur spécifiée pour les liens */
    font-family: 'Roboto', sans-serif; /* Utilisez la police Roboto */
    font-size: 20px;
    font-weight: normal;
    color: #403e49;
    text-decoration: none; /* Supprimer le soulignement sous les liens */
  }

  .Accueil {
    font-family: 'Roboto', sans-serif; /* Utilisez la police Roboto */
    font-size: 20px;
    font-weight: normal;
    color: #403e49;
  }
}
